<?xml version="1.0"?>
<!--
/**
 * @category Movatech_AddOrderComment
 * @author Movatech Team
 * @copyright Copyright (c) 2019 Movatech
 * @package Movatech_AddOrderComment
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Movatech_AddOrderComment" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Magento_Ui"/>
        </sequence>
    </module>
    
</config>
